@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap&family=Material+Symbols+Outlined');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --primary: #6b21a8;

    --background: #f9f9ff;
    --container: #fff;

    --primary-text: #000;
    --secondary-text: #4b5563;
}

.dark {
    --primary: #a855f7;
    
    --background: #0f172a;
    --container: #1e293b;

    --primary-text: #f8fafc; 
    --secondary-text: #94a3b8;
}

@theme {
    --color-primary: var(--primary);
    --color-background: var(--background);
    --color-container: var(--container);
    --color-primary-text: var(--primary-text);
    --color-secondary-text: var(--secondary-text);

    --font-headline: "DM Sans", sans-serif;
    --font-body: "Plus Jakarta Sans", sans-serif;
}

h1,h2,h3,h4 {
    font-family: var(--headline);
}

p,span,button,label,a,li {
    font-family: var(--body);
}

.material-symbols-outlined {
    font-variation-settings: 
        'FILL' 0, 
        'wght' 400, 
        'GRAD' 0, 
        'opsz' 24;
}