@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #ffffff;
  --bg2: #ececec;
  --text: #6b6375;
  --text-heading: #08060d;

  --border: #e5e4e7;

  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);

  --surface: #f4f3ec;
}

.dark {
  --bg: #1e213a;
  --bg2: #100e1d;
  --text: #9ca3af;
  --text-heading: #f3f4f6;

  --border: #2e303a;

  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);

  --surface: #1f2028;
}

@theme {
  --color-bg: var(--bg);
  --color-bg2: var(--bg2);

  --color-text: var(--text);
  --color-text-heading: var(--text-heading);

  --color-border: var(--border);

  --color-code-bg: var(--code-bg);

  --color-accent: var(--accent);
  --color-accent-bg: var(--accent-bg);
  --color-accent-border: var(--accent-border);

  --color-social-bg: var(--social-bg);
}